doctype html
html
	head
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
		link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css")
	body
		nav.teal.lighten-2
			ul#nav-mobile.right.hide-on-med-and-down
				li: a(href='/') Home
				li.active: a(href='#') Profile
				li: a(href='/posts/user') My Posts
				li: a(href='/posts') All Posts
				li: a(href='/logout') Logout
				
		div.container
			h1 Welcome #{user.username}
			h2 Create Your New Blog Post
				form(action='/posts/new' method='post')
					label title
					br
					input#title(minlength='3' name='title' placeholder='title' required)
					br
					label Enter your text here
					br
					textarea#body(minlength='5' rows="20" cols="50" name='body' placeholder='body' required)
					br
					input.btn(type='submit' value='Create Post' id='submit')
		script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js")

